body{
    background-color: white!important;
    display: flex;
    align-items: center;
    height: fit-content;
}
.container-lg{
    padding-bottom: 20px!important;
    margin: 10px 10vw;
    background-color: #6c757d!important;
    padding: 15px;
    color: white!important;
}
.invalid-feedback{
    color: white;
}